<div class="container wrapper">
  <div class="row">
    <div class="form-horizontal">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-push-6 col-sm-push-6">
        <div class="panel panel-info">
          <div class="panel-heading">
            <%= t ".review"%> <div class="pull-right">
            <small><%= link_to t(".edit"), "#" %>
            <a class="afix-1" href="#"><%= t ".edit" %></a></small></div>
          </div>
          <div class="panel-body">
            <%= render "order_detail", cart: @cart %>
            </div>
          </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-pull-6 col-sm-pull-6">
        <div class="panel panel-info">
          <div class="panel-heading"><%= t "checkout_form" %></div>
          <div class="panel-body">
            <div class="form-group">
              <div class="col-md-12">
                <h4><%= t ".address" %></h4>
              </div>
            </div>
            <%= render "order", order: @order %>
          </div>
        </div>
    </div>
  </div>
</div>
