<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-md-offset-1">
      <table class="table table-hover">
        <thead>
          <tr>
            <th><%= t ".product" %></th>
            <th><%= t ".quantity" %></th>
            <th class="text-center"><%= t "status" %></th>
            <th class="text-center"><%= t "price" %></th>
            <th class="text-center"><%= t "total" %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @cart.line_items.each do |item| %>
            <tr>
              <td class="col-sm-2 col-md-3">
                <div class="media">
                  <h4 class="media-heading">
                    <%= link_to item.product.name,
                      item.product %>
                  </h4>
                  <h5 class="media-heading">
                    <%= t "by" %>
                    <%= link_to item.product.brand.name,
                      item.product.brand %>
                  </h5>
                </div>
              </td>
              <td class="col-sm-1 col-md-1">
                <input type="email" class="form-control"
                  id="exampleInputEmail1" value="<%= item.quantity %>" disabled>
              </td>
              <td class="col-sm-1 col-md-1 text-center">
                <%= item.product.available? ? t("stock") : t("out_of_stock") %>
              </td>
              <td class="col-sm-1 col-md-1 text-center">
                <strong><%= number_to_currency item.product.price %></strong>
              </td>
              <td class="col-sm-1 col-md-1 text-center">
                <strong><%= number_to_currency item.total_price %></strong>
              </td>
              <td class="col-sm-1 col-md-1">
                <%= link_to item, method: :delete,
                  data: {confirm: t("are_you_sure")},
                  class: "btn btn-danger" do %>
                  <span class="glyphicon glyphicon-remove"></span>
                  <%= t ".remove" %>
                <% end %>
              </td>
            </tr>
          <% end %>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><h3><%= t "total" %></h3></td>
            <td class="text-right">
              <h3><strong><%= number_to_currency @cart.total_price %></strong></h3>
            </td>
          </tr>
          <tr>
            <td>
              <%= link_to @cart, method: :delete,
                data: {confirm: t("are_you_sure")},
                class: "btn btn-primary" do %>
                <%= t "remove_all_product" %>
              <% end %>
            </td>
            <td></td>
            <td></td>
            <td>
              <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-shopping-cart"></span>
                <%= link_to t("back_to_home_to_continue_shopping"), root_path %>
              </button>
            </td>
            <td>
              <%= link_to new_order_path, method: :get,
                class: "btn btn-success" do %>
                <%= t "checkout" %>
                <span class="glyphicon glyphicon-play"></span>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
