<div class="col-sm-3">
  <%= link_to brands_path,
    class: "list-group-item active main-color-bg" do %>
    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    <%= t :brand %>
    <span class="badge"><%= brands.size %></span>
  <% end %>
  <div class="list-group">
    <% brands.each do |brand| %>
      <%= link_to brand, class: "list-group-item" do %>
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
        <%= brand.name %>
        <span class="badge"><%= brand.products.size %></span>
      <% end %>
    <% end %>
  </div>
</div>
