<% provide :title, @product.name %>
<section id="main">
  <div class="container">
    <div class="row">
      <%= render "brands/brand", brands: @brands %>
      <div class="col-md-9">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title"><%= t "product" %></h3>
          </div>
          <div class="panel-body">
            <div class="preview col-md-6">
              <div class="preview-pic tab-content">
                <div class="tab-pane active" id="pic-1">
                  <img src="http://placekitten.com/200/126">
                </div>
              </div>
            </div>
            <div class="details col-md-6">
              <h3 class="product-title">
                <%= t "mobile" %>
                <%= link_to @product.name, @product %>
              </h3>
              <h2 class="product-title">
                <%= @product.available? ? t("stock") : t("out_of_stock") %>
              </h2>
              <p class="product-description">
                <%= sanitize @product.description.html_safe %>
              </p>
              <h4 class="price">
                <%= t "price" %>
                <span><%= number_to_currency @product.price %></span>
              </h4>
              <h4 class="price">
                <%= t "brand" %>: <%= link_to @product.brand.name %>
              </h4>
              <div class="action">
                <button class="add-to-cart btn btn-default" type="button">
                  <%= link_to t("add_to_cart"),
                    line_items_path(product_id: @product), method: :post %>
                </button>
                <button class="like btn btn-default" type="button">
                  <span class="fa fa-heart"></span>
                </button>
              </div>
            </div>
          </div>
          <%= render partial: "comments/comment",
            locals: {comments: @support_comment.comments,
            product: @support_comment.product} %>
          <%= will_paginate @support_comment.comments %>
          <%= render "comments/new_comment", product: @product,
            create_comment: @support_comment.create_comment %>
        </div>
      </div>
    </div>
  </div>
</section>
