<table>
  <% if coupons %>
    <% coupons.each do |coupon| %>
      <tr>
        <td>
          <ul>
            <li><h3><%= coupon.code %></h3></li>
            <li><%= t("imported") %>: <%= coupon.imported %></li>
            <li><%= t "expire" %> :
              <%= l t(coupon.expire) if coupon.expire %></li>
            <li><%= t "limit" %>: <%= coupon.import if coupon.import %></li>
          </ul>
        </td>
        <td><%= link_to t("edit"), edit_admin_coupon_path(coupon),
          class: "btn btn-primary" %></td>
        <td><%= link_to t("delete"), admin_coupon_path(coupon), method: :delete,
          data: {confirm: t("are_you_sure")}, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>
