<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("store"), root_path, class: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= form_with url: search_path, local: true, method: :get,
            html: {class: "fom-inline my-2 my-lg-2"} do |f| %>
            <%= f.text_field :q, data: {behavior: "autocomplete"},
              class: "form-control mr-sm-2" %>
          <% end %>
        </li>
        <li><%= link_to t("home"), root_path %></li>
        <% if user_signed_in? %>
          <% if current_user.try(:admin?) %>
            <li><%= link_to t("admin"), "" %></li>
            <li><%= link_to t("user"), "" %></li>
          <% end %>
          <li class="dropdown">
            <%= link_to "#", class: "dropdown-toggle",
              data: {toggle: "dropdown"} do %>
              <%= t("profile") %><b class="caret"></b>
            <% end %>
            <ul class="dropdown-menu">
              <li><%= link_to t("profile"), current_user %></li>
              <li><%= link_to t("edit_profile"),
                edit_user_registration_path %></li>
              <li class="divider"></li>
              <li>
                <%= link_to t("logout"),
                  destroy_user_session_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to t("sign_up"), new_user_registration_path %></li>
          <li><%= link_to t("log_in"), new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
